:root {
    --main: #0D152C;
    --font: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: janna reg;
    word-spacing: 1px;
    letter-spacing: 1px;
}

::selection {
    background-color: var(--font);
    color: var(--main);
}

::-webkit-scrollbar {
    background-color: var(--font);
    width: 10px;

}

::-webkit-scrollbar-thumb {
    background-color: var(--main);
}

@font-face {
    font-family: janna bol;
    src: url(../public/assets/fonts/Janna\ LT\ Bold.ttf);
}

@font-face {
    font-family: janna reg;
    src: url(../public/assets/fonts/Janna\ LT\ Regular.ttf);
}

body {
    height: 100vh;
    background-color: var(--main);
    color: var(--font);
    font-size: 18px;
    overflow-x: hidden;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--font);
}

/* main {
    padding: 20px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
} */