.page {
    width: 100%;
    height: 100%;
}

.page section {
    padding: 80px;
}

.hero {
    background-image: url(/assets/images/Pattern.png);
    background-size: cover;
    background-position: center center;
}

.page h1,
.page h2 {
    font-size: 50px;
    line-height: 1.4;
}

.hero .content {
    width: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    margin: 70px 0px;
}

.carousel {
    height: 70vh;
}

.carousel .caroChild {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 100px;
    animation: fade 1.5s ease-out;
}

.carousel .caroChild:last-child {
    display: none;
}

.page span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-property: opacity;
    transition-property: gap;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

.page span:hover {
    gap: 20px;
    opacity: 80%;
}

.carousel .caroChild div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
}

.carousel .caroChild div p {
    width: 75%;
}

.whyUs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    text-align: center;
}


.scroll {
    margin-bottom: 100px;
}


.right {
    position: sticky;
    top: 20vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}

.left {
    padding-right: 50vw;
}

.left div {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.left div img {
    border-radius: 10px;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}