.section {
  width: 100%;
  padding: 80px;
  min-height: 100vh;
}
.swiperContainer {
  width: 100%;
  height: 100%;
}
.swiperSlide {
  background-image: url(/assets/images/about/Pattern1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0E152C;
  min-height: 100vh;
}
.swiperContent{
  padding: 80px;
}
.about h1,
.about h2 {
  font-size: 50px;
}
/*------------------------------------------------------------------------------------*/
.absection {
  min-height: 100vh;
  padding: 80px;
}
.boximg {
  display: flex;
  flex-direction: column;
  position: relative;
}
.boximg .img2 {
  position: absolute;
}

.aboutparent {
  display: flex;
  justify-content: space-between;
}
.aboutcontent {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.centerHeading{
  text-align: center;
} 
@media (max-width: 1191px) {
  .aboutcontent h2 , .centerHeading , .headingTeam , .swiperContent h2{
    font-size: 35px !important;
    text-align: center;
  }
  .aboutcontent {
    width: 100%;
  }
  .boximg {
    display: none;
  }
  .aboutcontent p , .vision p , .teamSection p , .owner p , .swiperContent p , .teamCard p , .team .abLink , .rightcontent p {
    font-size: 16px;
    text-align: center;
  }
}
/*------------------------------------------------------------------------------------*/
.parent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.rightcontent,
.leftcontent {
  width: 28rem;
  padding: 10px;
}
.rightcontent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.betweencontent {
  background-image: url(/assets/symbols/about/vline.png);
  background-size: cover;
  padding: 15px 0;
}
.heading h3 {
  border-right: 5px solid #fff;
  width: fit-content;
  padding-right: 10px;
}

@media (max-width: 1191px) {
  .betweencontent {
    display: none;
  }
  .parent {
    flex-wrap: wrap;
    text-align: center;
  }
  .rightcontent,
  .leftcontent {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .leftcontent{
    display: flex;
    justify-content: center;
  }

  .heading{
    display: flex;
    justify-content: center;
  }
}
/*------------------------------------------------------------------------------------*/
.parentvision {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.vision {
  position: relative;
  background: linear-gradient(#353e5c, #353e5c);
  padding: 20px;
  border-radius: 25px;
  height: 250px;
}
.vision .imgleft {
  position: absolute;
  left: -80px;
  top: -25px;
  z-index: 10;
}
.vision .imgright {
  position: absolute;
  right: -80px;
  top: -30px;
  z-index: 10;
}
.visioncontent {
  width: 85%;
}
.visioncontentleft {
  width: 88%;
  padding-right: 200px;
}
@media (max-width: 1191px) {
  .vision .imgleft {
    width: 200px;
    height: 200px;
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
  }
  .vision .imgright {
    width: 200px;
    height: 200px;
    right: 50%;
    top: -30%;
    transform: translate(50%);
  }
  .visioncontentleft {
    width: 100%;
    padding-right: 0;
    padding: 60px 0;
  }
  .visioncontent {
    width: 100%;
    padding: 70px 0;
  }
  .parentvision {
    padding: 120px 0;
  }
  .vision {
    height: 300px;
  }
  .vision:not(:last-child) {
    margin-bottom: 100px;
  }
}
@media (max-width : 767px) {
  .vision {
    height: 500px;
  }
  .visioncontent , .visioncontentleft{
    padding: 70px 0;
  }
  .vision .imgleft {
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
  }
  .vision .imgright {
    right: 50%;
    top: -20%;
    transform: translate(50%);
  }
}
@media (max-width : 450px) {
  .vision {
    height: 650px;
  }

}
/*-------------------------------------------------------------------------*/
.teamSection {
  width: 100%;
  min-height: 100vh;
  padding: 80px;
  background-image: url(/assets/images/about/Pattern2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.headingTeam{
  border-bottom: 1px solid #fff;
  width: fit-content;
  padding-bottom: 30px;
}
.team p {
  padding: 100px 0;
}
.team .abLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 0.6s;
}
.team .abLink:hover {
  transform: scale(1.1);
}
/*-------------------------------------------------------------------------*/
.teamParent {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
}
.teamCard {
  width: 20rem;
  height: 500px;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.teamCard .teamCardIcon {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
}
.teamCard .teamCardContainer {
  padding: 30px;
}
.teamCard .teamCardBottomData {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main);
  color: #fff;
  padding: 20px 0;
}
.teamCard .teamCardTopData {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  background-color: var(--main);
  color: #fff;
}
@media (max-width: 1191px) {
  .teamParent {
    flex-wrap: wrap;
    flex-direction: column; 
    align-items: center;
  }
  .teamCard {
    width: 30rem;
    margin-bottom: 20px; 
  }
}
/*-------------------------------------------------------------------------*/
.owner {
  color: #000;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  position: relative;
  margin-bottom: 50px;
}
.ownerImg {
  background-color: var(--main);
  position: absolute;
  top: -50px;
  right: 40px;
}
.ownerInfo {
  margin-right: 450px;
  height: 100%;
  background-color: #fff;
  padding: 70px;
}
.ownerInfo h4 {
  width: 90%;
}
.ownerInfoHeading {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 20px;
}
@media (max-width: 1191px) {
  .owner {
    flex-direction: column;
    align-items: center;
  }
  .ownerImg {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
  }
  .ownerImg .img{
    width: 100%;
    height: 100%;
  }
  .ownerInfo h4 {
    width: 100%;
  }
  .ownerInfo {
    margin: 0;
    padding: 100px;
    text-align: center;
  }
  .ownerInfoHeading {
    align-items: center;
  }
}
/*-------------------------------------------------------------------------*/
.numbers {
  margin-top: 80px;
  padding: 80px;
  min-height: 300px;
  background-image: url(/assets/images/about/Pattern3.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.numbers span{
  display: block;
  font-size: 50px;
  font-weight: bold;
}
@media (max-width : 768px) {
  .numbers{
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  .teamCard {
    width: 100%;
  }

  .teamCard{
    width: 100%;
    height: 550px;
  }
  .leftcontent .img{
    width: 100%;
    height: 100%;
  }
}